<!DOCTYPE html>
<html>
  <head>
	<title>fetch</title>
   	  <meta charset="utf-8">
  </head>

  <body>

		  {% if user.is_authenticated %}
		  <h1> Welcome to Fetch! Hello {{ user.username }}!</h1>	  
		  {% else %}
		  <h1> Fetch says... hello world!</h1>
		  {% endif %}
	<div>
   	  <h3>Fetch</h3>
		<br />
		  <ul>
		    <li><a href='/fetch/register'>Register</a></li>
			<li><a href='/fetch/login'>Login</a></li>
			<li><a href='/fetch/logout'>Logout</a></li>
		  </ul>
    </div>	  
  </body>
</html>

